@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* font-weight: bolder; */
    margin-left: 40px;
}

.social ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.social a {
    font-size: 30px;
    padding: 5px;
}
.social {
    display: flex;
    justify-content: flex-end;
}

/* .image-side img {
    max-width: 100%; 
    height: auto;
} */
.text-side{
    margin-left: 30px;
}
.container{
    width: 90vw;
    height: 80vh;
    margin-top: 100px;
    background: aquamarine;
}